In [5]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
from newspaper import Article

host = 'localhost'
port = '3306'
username = 'root'
password = ''
database = 'gdelt_content_id'

# Create Connection to database
# engine = create_engine('mysql+pymysql://'+username+
# ':'+password+'@'+host+':'+port+'/'+database)

# Note: We use pymysql instead of sqlalchemy because sqlalchemy
# somehow don't allow the text query. Strange bug.
conn = pymysql.connect(
    host=host,
    port=int(port),
    user=username,
    passwd=password,
    db=database,
    charset='utf8mb4')
'''engine = create_engine('mysql+pymysql://root: @localhost:3306
/gdelt_content_id')'''

def run(sql):
    df = pd.read_sql_query(sql, conn)
    return df

In [25]:
data_startup = run("SELECT GLOBALEVENTID, SQLDATE, Year, SOURCEURL FROM startup_indonesia WHERE year = 2018")

In [26]:
total_baris = data_startup.shape[0]

In [27]:
isi_berita = list()
i = 1
for link in data_startup.SOURCEURL:
    print("Scraping article " + str(i) + " of " + str(total_baris))
    berita = Article(link)
    try:
        berita.download()
        berita.parse()
        isi_berita.append(berita.text)
    except:
        print("Error scraping article " + str(i) + " of " + str(total_baris))
        isi_berita.append(link)
    i = i + 1

Scraping article 1 of 402
Scraping article 2 of 402
Scraping article 3 of 402
Scraping article 4 of 402
Scraping article 5 of 402
Scraping article 6 of 402
Scraping article 7 of 402
Scraping article 8 of 402
Scraping article 9 of 402
Scraping article 10 of 402
Scraping article 11 of 402
Error scraping article 11 of 402
Scraping article 12 of 402
Scraping article 13 of 402
Scraping article 14 of 402
Scraping article 15 of 402
Scraping article 16 of 402
Scraping article 17 of 402
Scraping article 18 of 402
Error scraping article 18 of 402
Scraping article 19 of 402
Scraping article 20 of 402
Scraping article 21 of 402
Scraping article 22 of 402
Scraping article 23 of 402
Scraping article 24 of 402
Scraping article 25 of 402
Scraping article 26 of 402
Scraping article 27 of 402
Scraping article 28 of 402
Scraping article 29 of 402
Scraping article 30 of 402
Scraping article 31 of 402
Scraping article 32 of 402
Scraping article 33 of 402
Scraping article 34 of 402
Scraping article 35 of 402
Scraping article 36 of 402
Scraping article 37 of 402
Scraping article 38 of 402
Scraping article 39 of 402
Scraping article 40 of 402
Scraping article 41 of 402
Scraping article 42 of 402
Scraping article 43 of 402
Scraping article 44 of 402
Scraping article 45 of 402
Scraping article 46 of 402
Scraping article 47 of 402
Scraping article 48 of 402
Scraping article 49 of 402
Scraping article 50 of 402
Scraping article 51 of 402
Scraping article 52 of 402
Scraping article 53 of 402
Scraping article 54 of 402
Scraping article 55 of 402
Scraping article 56 of 402
Scraping article 57 of 402
Scraping article 58 of 402
Scraping article 59 of 402
Scraping article 60 of 402
Scraping article 61 of 402
Scraping article 62 of 402
Scraping article 63 of 402
Scraping article 64 of 402
Scraping article 65 of 402
Scraping article 66 of 402
Scraping article 67 of 402
Scraping article 68 of 402
Scraping article 69 of 402
Scraping article 70 of 402
Scraping article 71 of 402
Scraping article 72 of 402
Scraping article 73 of 402
Scraping article 74 of 402
Scraping article 75 of 402
Scraping article 76 of 402
Scraping article 77 of 402
Scraping article 78 of 402
Scraping article 79 of 402
Scraping article 80 of 402
Scraping article 81 of 402
Scraping article 82 of 402
Scraping article 83 of 402
Scraping article 84 of 402
Scraping article 85 of 402
Scraping article 86 of 402
Scraping article 87 of 402
Scraping article 88 of 402
Scraping article 89 of 402
Scraping article 90 of 402
Scraping article 91 of 402
Scraping article 92 of 402
Scraping article 93 of 402
Error scraping article 93 of 402
Scraping article 94 of 402
Scraping article 95 of 402
Scraping article 96 of 402
Scraping article 97 of 402
Scraping article 98 of 402
Scraping article 99 of 402
Scraping article 100 of 402
Scraping article 101 of 402
Error scraping article 101 of 402
Scraping article 102 of 402
Scraping article 103 of 402
Scraping article 104 of 402
Error scraping article 104 of 402
Scraping article 105 of 402
Scraping article 106 of 402
Scraping article 107 of 402
Scraping article 108 of 402
Scraping article 109 of 402
Scraping article 110 of 402
Scraping article 111 of 402
Scraping article 112 of 402
Scraping article 113 of 402
Scraping article 114 of 402
Scraping article 115 of 402
Scraping article 116 of 402
Scraping article 117 of 402
Scraping article 118 of 402
Scraping article 119 of 402
Scraping article 120 of 402
Scraping article 121 of 402
Scraping article 122 of 402
Scraping article 123 of 402
Scraping article 124 of 402
Scraping article 125 of 402
Scraping article 126 of 402
Scraping article 127 of 402
Scraping article 128 of 402
Scraping article 129 of 402
Scraping article 130 of 402
Scraping article 131 of 402
Scraping article 132 of 402
Scraping article 133 of 402
Scraping article 134 of 402
Scraping article 135 of 402
Scraping article 136 of 402
Scraping article 137 of 402
Scraping article 138 of 402
Scraping article 139 of 402
Error scraping article 139 of 402
Scraping article 140 of 402
Scraping article 141 of 402
Scraping article 142 of 402
Scraping article 143 of 402
Scraping article 144 of 402
Scraping article 145 of 402
Scraping article 146 of 402
Scraping article 147 of 402
Scraping article 148 of 402
Scraping article 149 of 402
Scraping article 150 of 402
Scraping article 151 of 402
Scraping article 152 of 402
Scraping article 153 of 402
Scraping article 154 of 402
Scraping article 155 of 402
Scraping article 156 of 402
Scraping article 157 of 402
Error scraping article 157 of 402
Scraping article 158 of 402
Scraping article 159 of 402
Scraping article 160 of 402
Scraping article 161 of 402
Scraping article 162 of 402
Scraping article 163 of 402
Scraping article 164 of 402
Scraping article 165 of 402
Scraping article 166 of 402
Error scraping article 166 of 402
Scraping article 167 of 402
Scraping article 168 of 402
Scraping article 169 of 402
Scraping article 170 of 402
Scraping article 171 of 402
Scraping article 172 of 402
Scraping article 173 of 402
Scraping article 174 of 402
Scraping article 175 of 402
Scraping article 176 of 402
Scraping article 177 of 402
Scraping article 178 of 402
Scraping article 179 of 402
Scraping article 180 of 402
Scraping article 181 of 402
Scraping article 182 of 402
Scraping article 183 of 402
Scraping article 184 of 402
Error scraping article 184 of 402
Scraping article 185 of 402
Scraping article 186 of 402
Scraping article 187 of 402
Scraping article 188 of 402
Scraping article 189 of 402
Scraping article 190 of 402
Scraping article 191 of 402
Scraping article 192 of 402
Scraping article 193 of 402
Scraping article 194 of 402
Scraping article 195 of 402
Scraping article 196 of 402
Scraping article 197 of 402
Scraping article 198 of 402
Scraping article 199 of 402
Scraping article 200 of 402
Scraping article 201 of 402
Scraping article 202 of 402
Scraping article 203 of 402
Error scraping article 203 of 402
Scraping article 204 of 402
Scraping article 205 of 402
Scraping article 206 of 402
Scraping article 207 of 402
Scraping article 208 of 402
Scraping article 209 of 402
Scraping article 210 of 402
Scraping article 211 of 402
Scraping article 212 of 402
Scraping article 213 of 402
Scraping article 214 of 402
Scraping article 215 of 402
Scraping article 216 of 402
Scraping article 217 of 402
Scraping article 218 of 402
Scraping article 219 of 402
Scraping article 220 of 402
Scraping article 221 of 402
Scraping article 222 of 402
Scraping article 223 of 402
Scraping article 224 of 402
Scraping article 225 of 402
Scraping article 226 of 402
Scraping article 227 of 402
Error scraping article 227 of 402
Scraping article 228 of 402
Scraping article 229 of 402
Scraping article 230 of 402
Scraping article 231 of 402
Scraping article 232 of 402
Scraping article 233 of 402
Scraping article 234 of 402
Scraping article 235 of 402
Error scraping article 235 of 402
Scraping article 236 of 402
Scraping article 237 of 402
Error scraping article 237 of 402
Scraping article 238 of 402
Scraping article 239 of 402
Scraping article 240 of 402
Scraping article 241 of 402
Scraping article 242 of 402
Error scraping article 242 of 402
Scraping article 243 of 402
Scraping article 244 of 402
Scraping article 245 of 402
Scraping article 246 of 402
Scraping article 247 of 402
Scraping article 248 of 402
Scraping article 249 of 402
Scraping article 250 of 402
Scraping article 251 of 402
Scraping article 252 of 402
Scraping article 253 of 402
Scraping article 254 of 402
Scraping article 255 of 402
Scraping article 256 of 402
Scraping article 257 of 402
Scraping article 258 of 402
Scraping article 259 of 402
Scraping article 260 of 402
Scraping article 261 of 402
Scraping article 262 of 402
Scraping article 263 of 402
Scraping article 264 of 402
Scraping article 265 of 402
Scraping article 266 of 402
Scraping article 267 of 402
Scraping article 268 of 402
Scraping article 269 of 402
Scraping article 270 of 402
Scraping article 271 of 402
Scraping article 272 of 402
Scraping article 273 of 402
Scraping article 274 of 402
Scraping article 275 of 402
Scraping article 276 of 402
Scraping article 277 of 402
Scraping article 278 of 402
Scraping article 279 of 402
Scraping article 280 of 402

Scraping article 281 of 402
Scraping article 282 of 402
Scraping article 283 of 402
Scraping article 284 of 402
Scraping article 285 of 402
Scraping article 286 of 402
Scraping article 287 of 402
Scraping article 288 of 402
Scraping article 289 of 402
Scraping article 290 of 402
Scraping article 291 of 402
Scraping article 292 of 402
Scraping article 293 of 402
Scraping article 294 of 402
Scraping article 295 of 402
Scraping article 296 of 402
Scraping article 297 of 402
Scraping article 298 of 402
Scraping article 299 of 402
Scraping article 300 of 402
Scraping article 301 of 402
Scraping article 302 of 402
Scraping article 303 of 402
Scraping article 304 of 402
Scraping article 305 of 402
Scraping article 306 of 402
Scraping article 307 of 402
Scraping article 308 of 402
Scraping article 309 of 402
Scraping article 310 of 402
Scraping article 311 of 402
Scraping article 312 of 402
Scraping article 313 of 402
Scraping article 314 of 402
Scraping article 315 of 402
Scraping article 316 of 402
Error scraping article 316 of 402
Scraping article 317 of 402
Scraping article 318 of 402
Scraping article 319 of 402
Scraping article 320 of 402
Scraping article 321 of 402
Scraping article 322 of 402
Scraping article 323 of 402
Scraping article 324 of 402
Scraping article 325 of 402
Scraping article 326 of 402
Scraping article 327 of 402
Scraping article 328 of 402
Scraping article 329 of 402
Error scraping article 329 of 402
Scraping article 330 of 402
Error scraping article 330 of 402
Scraping article 331 of 402
Scraping article 332 of 402
Scraping article 333 of 402
Scraping article 334 of 402
Scraping article 335 of 402
Scraping article 336 of 402
Scraping article 337 of 402
Scraping article 338 of 402
Scraping article 339 of 402
Scraping article 340 of 402
Error scraping article 340 of 402
Scraping article 341 of 402
Scraping article 342 of 402
Scraping article 343 of 402
Scraping article 344 of 402
Scraping article 345 of 402
Scraping article 346 of 402
Scraping article 347 of 402
Scraping article 348 of 402
Scraping article 349 of 402
Scraping article 350 of 402
Error scraping article 350 of 402
Scraping article 351 of 402
Scraping article 352 of 402
Scraping article 353 of 402
Scraping article 354 of 402
Scraping article 355 of 402
Scraping article 356 of 402
Scraping article 357 of 402
Scraping article 358 of 402
Scraping article 359 of 402
Scraping article 360 of 402
Scraping article 361 of 402
Scraping article 362 of 402
Scraping article 363 of 402
Scraping article 364 of 402
Scraping article 365 of 402
Scraping article 366 of 402
Scraping article 367 of 402
Scraping article 368 of 402
Scraping article 369 of 402
Scraping article 370 of 402
Scraping article 371 of 402
Scraping article 372 of 402
Scraping article 373 of 402
Scraping article 374 of 402
Scraping article 375 of 402
Scraping article 376 of 402
Error scraping article 376 of 402
Scraping article 377 of 402
Scraping article 378 of 402
Scraping article 379 of 402
Scraping article 380 of 402
Scraping article 381 of 402
Scraping article 382 of 402
Error scraping article 382 of 402
Scraping article 383 of 402
Scraping article 384 of 402
Error scraping article 384 of 402
Scraping article 385 of 402
Scraping article 386 of 402
Scraping article 387 of 402
Scraping article 388 of 402
Scraping article 389 of 402
Scraping article 390 of 402
Error scraping article 390 of 402
Scraping article 391 of 402
Scraping article 392 of 402
Scraping article 393 of 402
Scraping article 394 of 402
Scraping article 395 of 402
Scraping article 396 of 402
Scraping article 397 of 402
Scraping article 398 of 402
Scraping article 399 of 402
Scraping article 400 of 402
Scraping article 401 of 402
Scraping article 402 of 402

In [ ]:
print(isi_berita)

In [28]:
len(isi_berita)

402

In [29]:
data_startup['ARTICLEURL'] = pd.Series(isi_berita)

In [67]:
data_startup.head()
print(data_startup.shape)

(402, 5)

In [49]:
data_incom = data_startup.loc[data_startup['ARTICLEURL'] == data_startup['SOURCEURL']]
data_null = data_startup.loc[data_startup['ARTICLEURL'] == '']
data_incom.head()

,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL
10,795776971,20180919,2018,https://economictimes.indiatimes.com/small-biz...,https://economictimes.indiatimes.com/small-biz...
17,794276788,20181013,2018,https://economictimes.indiatimes.com/small-biz...,https://economictimes.indiatimes.com/small-biz...
92,785918381,20180910,2018,http://www.en.netralnews.com/news/business/rea...,http://www.en.netralnews.com/news/business/rea...
100,784607887,20180905,2018,https://english.vietnamnet.vn/fms/business/207...,https://english.vietnamnet.vn/fms/business/207...
103,784110183,20180903,2018,https://www.opengovasia.com/article/the-role-o...,https://www.opengovasia.com/article/the-role-o...

In [46]:
data_null.head()

,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL
77,786997689,20180914,2018,https://www.opengovasia.com/indonesia-furthers...,
126,782286669,20180827,2018,http://sglinks.com/startups/pages/118016605-go...,
128,782319837,20180827,2018,https://www.thepaypers.com/mobile-payments/jd-...,
162,774333479,20180724,2018,http://sglinks.com/pages/116649609-tech-in-asi...,
163,774019331,20180723,2018,http://sglinks.com/startups/pages/116605809-an...,

In [50]:
data_incom_2018 = pd.concat([data_incom, data_null])
data_incom_2018.head()

,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL
10,795776971,20180919,2018,https://economictimes.indiatimes.com/small-biz...,https://economictimes.indiatimes.com/small-biz...
17,794276788,20181013,2018,https://economictimes.indiatimes.com/small-biz...,https://economictimes.indiatimes.com/small-biz...
92,785918381,20180910,2018,http://www.en.netralnews.com/news/business/rea...,http://www.en.netralnews.com/news/business/rea...
100,784607887,20180905,2018,https://english.vietnamnet.vn/fms/business/207...,https://english.vietnamnet.vn/fms/business/207...
103,784110183,20180903,2018,https://www.opengovasia.com/article/the-role-o...,https://www.opengovasia.com/article/the-role-o...

In [41]:
print(data_incom.shape)

(48, 5)

In [51]:
# List of troublesome domain link
import urllib

data_sourceurl = data_incom_2018['SOURCEURL']
list_link = []

# for extracting domain url. Example: 
# http://fintechnews.sg/25313/blockchain/blockchain-indonesia/ --> fintechnews.sg
for link in data_sourceurl:
    list_link.append(urllib.parse.urlparse(link).netloc)
    
data_link = pd.Series(list_link)

# Count by its occurences
data_link_count = data_link.value_counts()
data_link_count

sglinks.com                     20
economictimes.indiatimes.com     5
www.opengovasia.com              4
www.chinamoneynetwork.com        3
www.thepresidentpost.com         3
www.prnewswire.com               2
www.en.netralnews.com            1
www.thepaypers.com               1
www.finanzen.ch                  1
inc42.com                        1
www.bankingtech.com              1
www.oann.com                     1
english.vietnamnet.vn            1
www.theedgemarkets.com           1
www.gulf-times.com               1
www.nytimes.com                  1
www.infotechlead.com             1
dtype: int64

In [53]:
# To save data
data_startup.to_csv('data-startup-berita.csv', sep=';')
data_incom_2018.to_csv('data-incom.csv', sep=';')

# To read data
# data_startup = pd.read_csv('data-startup-berita.csv', sep=';')
# data_incom = pd.read_csv('data-incom.csv', sep=';')

In [61]:
# List of web scraper function

# handling bankingtech.com
def bankingtech_scrape(link):
    import urllib
    r = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    web_byte = urllib.request.urlopen(r).read()
    webpage = web_byte.decode('utf-8')
        
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(webpage,"lxml")
    article = soup.find("div", "columns small-12 single-post-content_text-container").text.strip()
    return article

# handling economictimes.indiatimes.com
def economictimes_scrape(link):
    import urllib
    r = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    web_byte = urllib.request.urlopen(r).read()
    webpage = web_byte.decode('utf-8')
        
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(webpage,"lxml")
    article = soup.find('div', 'Normal').text.strip()
    return article

# handling finanzen.ch
def finanzen_scrape(link):
    import urllib
    r = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    web_byte = urllib.request.urlopen(r).read()
    webpage = web_byte.decode('utf-8')
        
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(webpage,"lxml")
    article = soup.find("div", "col-md-12 col-xs-12 news-content").text.strip()
    article = article.split("if (")
    return article[0]

# handling gulf-times.com
def gulftimes_scrape(link):
    import urllib
    r = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    web_byte = urllib.request.urlopen(r).read()
    webpage = web_byte.decode('utf-8')
        
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(webpage,"lxml")
    article = soup.find("div", "txtwrapper").text.strip()
    article = article.split(");\n")
    return article[2]

# handling netralnews.com
def netralnews_scrape(link):
    import ssl
    import urllib
    import re
    
    ssl._create_default_https_context = ssl._create_unverified_context
    r = urllib.request.urlopen(link).read()
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(r,"lxml")
    article = soup.find("div","td-post-content").text.strip()
    article = article.split("};\n")
    return article[1]

# handling opengovasia.com
def opengovasia_scrape(link):
    import urllib
    r = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    web_byte = urllib.request.urlopen(r).read()
    webpage = web_byte.decode('utf-8')
        
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(webpage,"lxml")
    article = soup.find("div", "articlepage-body w-richtext").text.strip()
    return article

# handling prnewswire.com
def prnewswire_scrape(link):
    import ssl
    import urllib
    
    ssl._create_default_https_context = ssl._create_unverified_context
    r = urllib.request.urlopen(link).read()
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(r,"lxml")
    element = soup.find_all("div", "col-sm-10 col-sm-offset-1")
    article = element[1].text.strip()
    return article

# handling thepaypers.com
def thepaypers_scrape(link):
    import urllib
    r = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    web_byte = urllib.request.urlopen(r).read()
    webpage = web_byte.decode('utf-8')
        
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(webpage,"lxml")
    article = soup.find("div", "noColumns").text.strip()
    return article

# handling vietnamnet.com
def vietnamnet_scrape(link):
    import ssl
    import urllib
    
    ssl._create_default_https_context = ssl._create_unverified_context
    r = urllib.request.urlopen(link).read()
    from bs4 import BeautifulSoup

    soup = BeautifulSoup(r,"lxml")
    article = soup.find("div","article_content").text.strip()
    return article

In [82]:
# Load CSV with trouble data
data_trouble = pd.read_csv("data-incom-error-2018.csv", sep=";")
data_trouble = data_trouble.drop(['Column1','Status'], axis=1)
data_trouble.head()

,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL
0,732482164,20180220,2018,http://sglinks.com/pages/110117536-tech-in-asi...,NaN
1,742227202,20180327,2018,http://sglinks.com/pages/111797193-tech-in-asi...,NaN
2,774333479,20180724,2018,http://sglinks.com/pages/116649609-tech-in-asi...,NaN
3,721502576,20180111,2018,http://sglinks.com/startups/pages/108124290-hu...,NaN
4,722354235,20180115,2018,http://sglinks.com/startups/pages/108315380-cr...,NaN

In [83]:
# Erase trouble data from dataset
data_startup_clear = pd.DataFrame()
data_startup_clear = pd.concat([data_startup, data_trouble])
data_startup_clear.drop_duplicates("SOURCEURL", keep = False, inplace=True)
data_startup_clear.shape

(370, 5)

In [94]:
import urllib
# Load dataset that requires manual scraping
data_startup_manual = pd.read_csv("data-incom-OK-2018.csv", sep=";")
data_startup_manual = data_startup_manual.drop(['Column1','Status'], axis=1)
article_content = list()
for link in data_startup_manual["SOURCEURL"]:
    domain = urllib.parse.urlparse(link).netloc
    try:
        print("Extracting " + link)
        if domain == "economictimes.indiatimes.com":
            article_content.append(economictimes_scrape(link))
        elif domain == "www.opengovasia.com":
            article_content.append(opengovasia_scrape(link))
        elif domain == "www.en.netralnews.com":
            article_content.append(netralnews_scrape(link))
        elif domain == "www.gulf-times.com":
            article_content.append(gulftimes_scrape(link))
        elif domain == "www.bankingtech.com":
            article_content.append(bankingtech_scrape(link))
        elif domain == "english.vietnamnet.vn":
            article_content.append(vietnamnet_scrape(link))
        elif domain == "www.finanzen.ch":
            article_content.append(finanzen_scrape(link))
        elif domain == "www.opengovasia.com":
            article_content.append(opengovasia_scrape(link))
        elif domain == "www.prnewswire.com":
            article_content.append(prnewswire_scrape(link))
        elif domain == "www.thepaypers.com":
            article_content.append(thepaypers_scrape(link))
        else:
            article_content.append("")
    
    except:
        print("Error scraping article " + link)
        article_content.append("")

Extracting http://www.bankingtech.com/2018/01/fintech-funding-round-up-23-january-2018/
Extracting http://www.en.netralnews.com/news/business/read/24175/govt.partners.with.two.national.marketplaces.to.boost.indonesian.exports
Extracting http://www.gulf-times.com/story/599050/A-new-term-is-born-Shariah-fintech-and-it-has-quit
Extracting https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/alibabas-jack-ma-to-open-institute-for-tech-entrepreneurs-in-indonesia/articleshow/66193099.cms
Extracting https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/faasos-in-talks-to-raise-100-million-for-expansion/articleshow/66280493.cms
Extracting https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/google-says-invests-in-indonesian-ride-hailing-firm-go-jek/articleshow/62690817.cms
Error scraping article https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/google-says-invests-in-indonesian-ride-hailing-firm-go-jek/articleshow/62690817.cms
Extracting https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/ride-hailing-firm-grab-hits-back-in-uber-takeover-row/articleshow/65163091.cms
Error scraping article https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/ride-hailing-firm-grab-hits-back-in-uber-takeover-row/articleshow/65163091.cms
Extracting https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/ubers-exit-from-sounteast-asia-upsets-regulators-and-drivers/articleshow/64363937.cms
Error scraping article https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/ubers-exit-from-sounteast-asia-upsets-regulators-and-drivers/articleshow/64363937.cms
Extracting https://english.vietnamnet.vn/fms/business/207956/fintech-primed-to-boost-financial-services-sector-in-vietnam.html
Extracting https://www.finanzen.ch/nachrichten/aktien/CEO-SUITE-Unveils-the-First-Ever-Collaboration-with-Accelerator-to-Help-Local-Startups-Going-Global-1027329705
Extracting https://www.opengovasia.com/articles/australia-and-uk-set-up-fintech-bridge-to-deepen-collaboration-between-governments-regulators-and-industry-bodies
Extracting https://www.opengovasia.com/articles/indonesia-to-produce-talents-with-coding-knowledge-through-the-del-arrbey-coding-and-start-up-academy
Extracting https://www.opengovasia.com/indonesia-furthers-e-commerce-and-innovation/
Extracting https://www.prnewswire.com/news-releases/nuctech-participates-at-the-1st-global-cross-border-e-commerce-conference-300609935.html
Extracting https://www.prnewswire.com/news-releases/smartag-international-signs-agreement-to-provide-fintech-solutions-to-rural-indonesia-300606773.html
Extracting https://www.thepaypers.com/mobile-payments/jd-com-allegedly-invests-in-indonesia-based-startup-go-jek/774551-16

In [97]:
# If there is 404 error passed, then let's clean
data_startup_manual["ARTICLEURL"] = pd.Series(article_content)
data_startup_manual_ok = data_startup_manual[data_startup_manual["ARTICLEURL"] != ""]
data_startup_manual_ok
# # forget to remove column1 and status
# data_startup_manual_ok = data_startup_manual_ok.drop(['Column1','Status'], axis=1)
# data_startup_manual_ok

,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL
0,724739939,20180123,2018,http://www.bankingtech.com/2018/01/fintech-fun...,Straight after the fintech funding round-up on...
1,785918381,20180910,2018,http://www.en.netralnews.com/news/business/rea...,"\n\nJAKARTA, NNC – The Ministry of Tra..."
2,770916157,20180710,2018,http://www.gulf-times.com/story/599050/A-new-t...,Indonesia’s Deputy Finance Minister Mardiasmo...
3,794276788,20181013,2018,https://economictimes.indiatimes.com/small-biz...,"NUSA DUA: Jack Ma, executive chairman of China..."
4,795776971,20180919,2018,https://economictimes.indiatimes.com/small-biz...,"NEW DELHI: Rebel Foods, owneroperator of inter..."
8,784607887,20180905,2018,https://english.vietnamnet.vn/fms/business/207...,Vietnam is making strong policy moves to bolst...
9,768164766,20180629,2018,https://www.finanzen.ch/nachrichten/aktien/CEO...,"JAKARTA, Indonesia, June 29, 2018 /PRNewswire/..."
10,742160946,20180326,2018,https://www.opengovasia.com/articles/australia...,"The Australian Treasurer, the Hon Scott Morris..."
11,761694582,20180605,2018,https://www.opengovasia.com/articles/indonesia...,An announcement\nmade by the Ministry\nof Comm...
12,786997689,20180914,2018,https://www.opengovasia.com/indonesia-furthers...,"According to a recent report, Indonesia is the..."
13,736669068,20180307,2018,https://www.prnewswire.com/news-releases/nucte...,"BEIJING, March 7, 2018 /PRNewswire/ -- From Fe..."
14,735066750,20180301,2018,https://www.prnewswire.com/news-releases/smart...,"LAS VEGAS, March 1, 2018 /PRNewswire/ -- Smart..."
15,782319837,20180827,2018,https://www.thepaypers.com/mobile-payments/jd-...,JD.com has allegedly invested in Indonesia-bas...

In [100]:
# Add scraped data to startup
data_startup_clear = pd.concat([data_startup_clear, data_startup_manual])
data_startup_clear.shape

(386, 5)

In [106]:
# Just for making sure
data_clear = data_startup_clear[data_startup_clear["ARTICLEURL"] != data_startup_clear["SOURCEURL"]]
data_clear = data_clear[data_clear["ARTICLEURL"] != ""]
data_clear.shape

(367, 5)

In [107]:
# Save it for future use
data_clear.to_csv("data-clear-2018.csv", sep = ";")

In [108]:
# Save non-duplicated data to 'article_startup_indonesia' table
host = 'localhost'
port = '3306'
username = 'root'
password = ''
database = 'gdelt_content_id'
database_name = 'article_startup_indonesia'
engine_s = create_engine('mysql+pymysql://'+username+':'+password+'@'+host+':'
                         +port+'/'+database)
data_clear.to_sql(database_name, engine_s)

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x94\\x8A L...' for column 'ARTICLEURL' at row 107")
  result = self._query(query)
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xEF\\xBB\\xBF\\x0A\\x0AJ...' for column 'ARTICLEURL' at row 108")
  result = self._query(query)
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xE2\\x80\\x8EGoo...' for column 'ARTICLEURL' at row 238")
  result = self._query(query)
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xE2\\x82\\xB93,5...' for column 'ARTICLEURL' at row 243")
  result = self._query(query)
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, 'Incorrect string value: \'\\xE2\\x80\\x8B: "...\' for column \'ARTICLEURL\' at row 256')
  result = self._query(query)
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x94\\x8A L...' for column 'ARTICLEURL' at row 18")
  result = self._query(query)
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x94\\x8A L...' for column 'ARTICLEURL' at row 29")
  result = self._query(query)

In [3]:
# Step to load clean data
ds = pd.read_csv("data-clear-2018.csv",sep=";")
ds.head()

,Unnamed: 0,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL
0,0,798274953,20181029,2018,http://fintechnews.sg/25313/blockchain/blockch...,Following in the steps of international counte...
1,1,798359666,20181029,2018,https://www.dealstreetasia.com/stories/indones...,Indonesian modem rental service company Passpo...
2,2,797650072,20181026,2018,http://www.thejakartapost.com/news/2018/10/26/...,The government has long planned to collect tax...
3,3,797801179,20181026,2018,https://www.mediapost.com/publications/article...,"by Dave Morgan , Featured Contributor, October..."
4,4,797376646,20181025,2018,https://www.dealstreetasia.com/stories/indones...,Photo by rawpixel on Unsplash\r\n\r\n//es_subb...

In [6]:
judul_berita = list()
i = 1
total_baris = ds.shape[0]
for link in ds.SOURCEURL:
    print("Scraping article " + str(i) + " of " + str(total_baris))
    berita = Article(link)
    try:
        berita.download()
        berita.parse()
        judul_berita.append(berita.title)
    except:
        print("Error scraping article " + str(i) + " of " + str(total_baris))
        judul_berita.append(link)
    i = i + 1

Scraping article 1 of 367
Scraping article 2 of 367
Scraping article 3 of 367
Scraping article 4 of 367
Scraping article 5 of 367
Scraping article 6 of 367
Scraping article 7 of 367
Scraping article 8 of 367
Scraping article 9 of 367
Scraping article 10 of 367
Scraping article 11 of 367
Scraping article 12 of 367
Scraping article 13 of 367
Scraping article 14 of 367
Scraping article 15 of 367
Error scraping article 15 of 367
Scraping article 16 of 367
Scraping article 17 of 367
Scraping article 18 of 367
Scraping article 19 of 367
Scraping article 20 of 367
Scraping article 21 of 367
Scraping article 22 of 367
Scraping article 23 of 367
Scraping article 24 of 367
Scraping article 25 of 367
Scraping article 26 of 367
Scraping article 27 of 367
Scraping article 28 of 367
Scraping article 29 of 367
Scraping article 30 of 367
Scraping article 31 of 367
Scraping article 32 of 367
Scraping article 33 of 367
Scraping article 34 of 367
Scraping article 35 of 367
Scraping article 36 of 367
Scraping article 37 of 367
Scraping article 38 of 367
Scraping article 39 of 367
Scraping article 40 of 367
Scraping article 41 of 367
Scraping article 42 of 367
Scraping article 43 of 367
Scraping article 44 of 367
Scraping article 45 of 367
Scraping article 46 of 367
Scraping article 47 of 367
Scraping article 48 of 367
Scraping article 49 of 367
Scraping article 50 of 367
Scraping article 51 of 367
Scraping article 52 of 367
Scraping article 53 of 367
Scraping article 54 of 367
Scraping article 55 of 367
Scraping article 56 of 367
Scraping article 57 of 367
Scraping article 58 of 367
Scraping article 59 of 367
Scraping article 60 of 367
Scraping article 61 of 367
Scraping article 62 of 367
Scraping article 63 of 367
Scraping article 64 of 367
Scraping article 65 of 367
Scraping article 66 of 367
Scraping article 67 of 367
Scraping article 68 of 367
Scraping article 69 of 367
Scraping article 70 of 367
Scraping article 71 of 367
Scraping article 72 of 367
Scraping article 73 of 367
Scraping article 74 of 367
Scraping article 75 of 367
Scraping article 76 of 367
Scraping article 77 of 367
Scraping article 78 of 367
Scraping article 79 of 367
Scraping article 80 of 367
Error scraping article 80 of 367
Scraping article 81 of 367
Scraping article 82 of 367
Scraping article 83 of 367
Scraping article 84 of 367
Scraping article 85 of 367
Scraping article 86 of 367
Scraping article 87 of 367
Scraping article 88 of 367
Scraping article 89 of 367
Scraping article 90 of 367
Scraping article 91 of 367
Scraping article 92 of 367
Scraping article 93 of 367
Scraping article 94 of 367
Scraping article 95 of 367
Scraping article 96 of 367
Scraping article 97 of 367
Scraping article 98 of 367
Scraping article 99 of 367
Scraping article 100 of 367
Scraping article 101 of 367
Scraping article 102 of 367
Scraping article 103 of 367
Scraping article 104 of 367
Scraping article 105 of 367
Scraping article 106 of 367
Scraping article 107 of 367
Error scraping article 107 of 367
Scraping article 108 of 367
Scraping article 109 of 367
Scraping article 110 of 367
Scraping article 111 of 367
Scraping article 112 of 367
Scraping article 113 of 367
Scraping article 114 of 367
Scraping article 115 of 367
Scraping article 116 of 367
Scraping article 117 of 367
Scraping article 118 of 367
Scraping article 119 of 367
Scraping article 120 of 367
Scraping article 121 of 367
Scraping article 122 of 367
Scraping article 123 of 367
Scraping article 124 of 367
Scraping article 125 of 367
Scraping article 126 of 367
Scraping article 127 of 367
Scraping article 128 of 367
Scraping article 129 of 367
Scraping article 130 of 367
Scraping article 131 of 367
Scraping article 132 of 367
Scraping article 133 of 367
Error scraping article 133 of 367
Scraping article 134 of 367
Scraping article 135 of 367
Scraping article 136 of 367
Scraping article 137 of 367
Scraping article 138 of 367
Scraping article 139 of 367
Scraping article 140 of 367
Scraping article 141 of 367
Scraping article 142 of 367
Scraping article 143 of 367
Scraping article 144 of 367
Scraping article 145 of 367
Scraping article 146 of 367
Scraping article 147 of 367
Scraping article 148 of 367
Scraping article 149 of 367
Scraping article 150 of 367
Scraping article 151 of 367
Scraping article 152 of 367
Scraping article 153 of 367
Scraping article 154 of 367
Scraping article 155 of 367
Scraping article 156 of 367
Scraping article 157 of 367
Scraping article 158 of 367
Scraping article 159 of 367
Scraping article 160 of 367
Scraping article 161 of 367
Scraping article 162 of 367
Scraping article 163 of 367
Scraping article 164 of 367
Scraping article 165 of 367
Scraping article 166 of 367
Scraping article 167 of 367
Scraping article 168 of 367
Scraping article 169 of 367
Scraping article 170 of 367
Scraping article 171 of 367
Scraping article 172 of 367
Scraping article 173 of 367
Scraping article 174 of 367
Scraping article 175 of 367
Scraping article 176 of 367
Scraping article 177 of 367
Scraping article 178 of 367
Scraping article 179 of 367
Scraping article 180 of 367
Scraping article 181 of 367
Scraping article 182 of 367
Scraping article 183 of 367
Scraping article 184 of 367
Scraping article 185 of 367
Scraping article 186 of 367
Scraping article 187 of 367
Scraping article 188 of 367
Scraping article 189 of 367
Scraping article 190 of 367
Scraping article 191 of 367
Scraping article 192 of 367
Scraping article 193 of 367
Scraping article 194 of 367
Scraping article 195 of 367
Scraping article 196 of 367
Scraping article 197 of 367
Scraping article 198 of 367
Scraping article 199 of 367
Scraping article 200 of 367
Scraping article 201 of 367
Scraping article 202 of 367
Scraping article 203 of 367
Scraping article 204 of 367
Scraping article 205 of 367
Scraping article 206 of 367
Scraping article 207 of 367
Scraping article 208 of 367
Scraping article 209 of 367
Scraping article 210 of 367
Scraping article 211 of 367
Scraping article 212 of 367
Scraping article 213 of 367
Scraping article 214 of 367
Scraping article 215 of 367
Scraping article 216 of 367
Scraping article 217 of 367
Scraping article 218 of 367
Scraping article 219 of 367
Scraping article 220 of 367
Scraping article 221 of 367
Scraping article 222 of 367
Scraping article 223 of 367
Scraping article 224 of 367
Scraping article 225 of 367
Scraping article 226 of 367
Scraping article 227 of 367
Scraping article 228 of 367
Scraping article 229 of 367
Scraping article 230 of 367
Scraping article 231 of 367
Scraping article 232 of 367
Scraping article 233 of 367
Scraping article 234 of 367
Scraping article 235 of 367
Scraping article 236 of 367
Scraping article 237 of 367
Scraping article 238 of 367
Scraping article 239 of 367
Scraping article 240 of 367
Scraping article 241 of 367
Scraping article 242 of 367
Scraping article 243 of 367
Scraping article 244 of 367
Scraping article 245 of 367
Scraping article 246 of 367
Scraping article 247 of 367
Scraping article 248 of 367
Error scraping article 248 of 367
Scraping article 249 of 367
Scraping article 250 of 367
Scraping article 251 of 367
Scraping article 252 of 367
Scraping article 253 of 367
Scraping article 254 of 367
Scraping article 255 of 367
Scraping article 256 of 367
Scraping article 257 of 367
Scraping article 258 of 367
Scraping article 259 of 367
Scraping article 260 of 367
Scraping article 261 of 367
Scraping article 262 of 367
Scraping article 263 of 367
Scraping article 264 of 367
Scraping article 265 of 367
Scraping article 266 of 367
Scraping article 267 of 367
Scraping article 268 of 367
Scraping article 269 of 367
Scraping article 270 of 367
Scraping article 271 of 367
Scraping article 272 of 367
Scraping article 273 of 367
Scraping article 274 of 367
Scraping article 275 of 367
Scraping article 276 of 367
Scraping article 277 of 367
Scraping article 278 of 367
Error scraping article 278 of 367
Scraping article 279 of 367
Scraping article 280 of 367
Scraping article 281 of 367
Scraping article 282 of 367
Scraping article 283 of 367
Scraping article 284 of 367
Scraping article 285 of 367
Scraping article 286 of 367
Scraping article 287 of 367
Scraping article 288 of 367
Scraping article 289 of 367
Scraping article 290 of 367

Scraping article 291 of 367
Scraping article 292 of 367
Scraping article 293 of 367
Scraping article 294 of 367
Scraping article 295 of 367
Scraping article 296 of 367
Scraping article 297 of 367
Scraping article 298 of 367
Scraping article 299 of 367
Scraping article 300 of 367
Scraping article 301 of 367
Scraping article 302 of 367
Scraping article 303 of 367
Scraping article 304 of 367
Scraping article 305 of 367
Scraping article 306 of 367
Scraping article 307 of 367
Scraping article 308 of 367
Scraping article 309 of 367
Scraping article 310 of 367
Scraping article 311 of 367
Scraping article 312 of 367
Scraping article 313 of 367
Scraping article 314 of 367
Scraping article 315 of 367
Scraping article 316 of 367
Scraping article 317 of 367
Scraping article 318 of 367
Scraping article 319 of 367
Scraping article 320 of 367
Scraping article 321 of 367
Scraping article 322 of 367
Scraping article 323 of 367
Scraping article 324 of 367
Scraping article 325 of 367
Scraping article 326 of 367
Scraping article 327 of 367
Scraping article 328 of 367
Scraping article 329 of 367
Scraping article 330 of 367
Scraping article 331 of 367
Scraping article 332 of 367
Scraping article 333 of 367
Scraping article 334 of 367
Scraping article 335 of 367
Error scraping article 335 of 367
Scraping article 336 of 367
Scraping article 337 of 367
Scraping article 338 of 367
Scraping article 339 of 367
Scraping article 340 of 367
Scraping article 341 of 367
Scraping article 342 of 367
Scraping article 343 of 367
Scraping article 344 of 367
Scraping article 345 of 367
Scraping article 346 of 367
Scraping article 347 of 367
Scraping article 348 of 367
Scraping article 349 of 367
Scraping article 350 of 367
Scraping article 351 of 367
Scraping article 352 of 367
Scraping article 353 of 367
Scraping article 354 of 367
Scraping article 355 of 367
Scraping article 356 of 367
Error scraping article 356 of 367
Scraping article 357 of 367
Scraping article 358 of 367
Error scraping article 358 of 367
Scraping article 359 of 367
Scraping article 360 of 367
Error scraping article 360 of 367
Scraping article 361 of 367
Scraping article 362 of 367
Scraping article 363 of 367
Scraping article 364 of 367
Scraping article 365 of 367
Error scraping article 365 of 367
Scraping article 366 of 367
Scraping article 367 of 367

In [7]:
ds['ARTICLETITLE'] = pd.Series(judul_berita)

In [9]:
data_incom = ds.loc[ds['ARTICLETITLE'] == ds['SOURCEURL']]
data_null = ds.loc[ds['ARTICLETITLE'] == '']
data_incom.head()

,Unnamed: 0,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL,ARTICLETITLE
14,15,795321987,20181017,2018,https://www.coindesk.com/f2pool-founders-crypt...,"Cobo, a Beijing-based cryptocurrency wallet st...",https://www.coindesk.com/f2pool-founders-crypt...
79,82,786638486,20180913,2018,https://economictimes.indiatimes.com/small-biz...,BENGALURU: When hotel chain OYO decided to exp...,https://economictimes.indiatimes.com/small-biz...
106,112,783214317,20180830,2018,http://www.en.netralnews.com/news/business/rea...,"🔊 Listen to this\r\n\r\nJAKARTA, NNC - Ministe...",http://www.en.netralnews.com/news/business/rea...
132,141,777945188,20180808,2018,http://morungexpress.com/campaigners-and-k-pop...,Rina Chandran\r\n\r\nThomson Reuters Foundatio...,http://morungexpress.com/campaigners-and-k-pop...
247,272,749145806,20180419,2018,https://economictimes.indiatimes.com/small-biz...,"In the last six months, employees at Razorpay ...",https://economictimes.indiatimes.com/small-biz...

In [10]:
data_null.head()

Empty DataFrame
Columns: [Unnamed: 0, GLOBALEVENTID, SQLDATE, Year, SOURCEURL, ARTICLEURL, ARTICLETITLE]
Index: []

In [11]:
# List of troublesome domain link
import urllib

data_sourceurl = data_incom['SOURCEURL']
list_link = []

# for extracting domain url. Example: 
# http://fintechnews.sg/25313/blockchain/blockchain-indonesia/ --> fintechnews.sg
for link in data_sourceurl:
    list_link.append(urllib.parse.urlparse(link).netloc)
    
data_link = pd.Series(list_link)

# Count by its occurences
data_link_count = data_link.value_counts()
data_link_count

economictimes.indiatimes.com    4
www.en.netralnews.com           3
www.coindesk.com                1
morungexpress.com               1
www.prnewswire.com              1
english.vietnamnet.vn           1
dtype: int64

In [31]:
# handling economictimes.indiatimes.com
def economictimes_title_scrape(link):
    import urllib
    r = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    web_byte = urllib.request.urlopen(r).read()
    webpage = web_byte.decode('utf-8')
        
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(webpage,"lxml")
    article = soup.find('h1', 'clearfix title').text.strip()
    return article

# handling coindesk.com
def coindesk_title_scrape(link):
    import urllib
    r = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    web_byte = urllib.request.urlopen(r).read()
    webpage = web_byte.decode('utf-8')
        
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(webpage,"lxml")
    article = soup.find('div', 'meta').text.strip()
    return article

# handling morungexpress.com
def morungexpress_title_scrape(link):
    import urllib
    r = urllib.request.Request(link, headers={'User-Agent': 'Mozilla/5.0'})
    web_byte = urllib.request.urlopen(r).read()
    webpage = web_byte.decode('utf-8')
        
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(webpage,"lxml")
    article = soup.find('h1', 'entry-title single-post-title').text.strip()
    return article

# handling prnewswire.com
def prnewswire_title_scrape(link):
    import ssl
    import urllib
    
    ssl._create_default_https_context = ssl._create_unverified_context
    r = urllib.request.urlopen(link).read()
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(r,"lxml")
    element = soup.find_all("div", "col-sm-10 col-sm-offset-1 col-xs-12 ")
    article = element[0].text.strip()
    return article

# handling vietnamnet.com
def vietnamnet_title_scrape(link):
    import ssl
    import urllib
    
    ssl._create_default_https_context = ssl._create_unverified_context
    r = urllib.request.urlopen(link).read()
    from bs4 import BeautifulSoup

    soup = BeautifulSoup(r,"lxml")
    articles = soup.title.text.split(" - ")
    article = articles[0]
#     article = soup.find("div", "articlePrintArea")
    return article

# handling netralnews.com
def netralnews_title_scrape(link):
    import ssl
    import urllib
    import re
    
    ssl._create_default_https_context = ssl._create_unverified_context
    r = urllib.request.urlopen(link).read()
    from bs4 import BeautifulSoup 

    soup = BeautifulSoup(r,"lxml")
    article = soup.find("h1","entry-title").text.strip()
    return article

In [32]:
import urllib
# Load dataset that requires manual scraping
article_content = list()
for link in data_incom['SOURCEURL']:
    domain = urllib.parse.urlparse(link).netloc
    try:
        print("Extracting " + link)
        if domain == "economictimes.indiatimes.com":
            article_content.append(economictimes_title_scrape(link))
        elif domain == "www.en.netralnews.com":
            article_content.append(netralnews_title_scrape(link))
        elif domain == "www.coindesk.com":
            article_content.append(coindesk_title_scrape(link))
        elif domain == "www.morungexpress.com":
            article_content.append(morungexpress_title_scrape(link))
        elif domain == "english.vietnamnet.vn":
            article_content.append(vietnamnet_title_scrape(link))
        elif domain == "www.prnewswire.com":
            article_content.append(prnewswire_title_scrape(link))
        else:
            article_content.append("")
    
    except:
        print("Error scraping article " + link)
        article_content.append("")

Extracting https://www.coindesk.com/f2pool-founders-crypto-wallet-startup-raises-13-million-in-new-funding/
Extracting https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/how-ritesh-agarwals-oyo-scaled-the-great-wall-of-china/articleshow/65791420.cms
Extracting http://www.en.netralnews.com/news/business/read/23857/minister.of.communication.and.information.aims.indonesia.to.have.10.unicorns.by.2020
Extracting http://morungexpress.com/campaigners-and-k-pop-fans-turn-to-crowdfunding-for-conservation/
Extracting https://economictimes.indiatimes.com/small-biz/startups/customer-connect-a-whole-new-ball-game-at-startups/articleshow/63836503.cms
Extracting http://www.en.netralnews.com/news/currentnews/read/19592/15.indonesia.singapore.startups.join..collaborate.in.batam.nongsa.digital.park
Extracting https://economictimes.indiatimes.com/jobs/ecommerce-companies-startups-lining-up-offers-at-b-schools/articleshow/62667761.cms
Extracting http://www.en.netralnews.com/news/business/read/24175/govt.partners.with.two.national.marketplaces.to.boost.indonesian.exports
Extracting https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/alibabas-jack-ma-to-open-institute-for-tech-entrepreneurs-in-indonesia/articleshow/66193099.cms
Error scraping article https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/alibabas-jack-ma-to-open-institute-for-tech-entrepreneurs-in-indonesia/articleshow/66193099.cms
Extracting https://english.vietnamnet.vn/fms/business/207956/fintech-primed-to-boost-financial-services-sector-in-vietnam.html
Extracting https://www.prnewswire.com/news-releases/nuctech-participates-at-the-1st-global-cross-border-e-commerce-conference-300609935.html

In [34]:
data_incom

,Unnamed: 0,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL,ARTICLETITLE
14,15,795321987,20181017,2018,https://www.coindesk.com/f2pool-founders-crypt...,"Cobo, a Beijing-based cryptocurrency wallet st...",https://www.coindesk.com/f2pool-founders-crypt...
79,82,786638486,20180913,2018,https://economictimes.indiatimes.com/small-biz...,BENGALURU: When hotel chain OYO decided to exp...,https://economictimes.indiatimes.com/small-biz...
106,112,783214317,20180830,2018,http://www.en.netralnews.com/news/business/rea...,"🔊 Listen to this\r\n\r\nJAKARTA, NNC - Ministe...",http://www.en.netralnews.com/news/business/rea...
132,141,777945188,20180808,2018,http://morungexpress.com/campaigners-and-k-pop...,Rina Chandran\r\n\r\nThomson Reuters Foundatio...,http://morungexpress.com/campaigners-and-k-pop...
247,272,749145806,20180419,2018,https://economictimes.indiatimes.com/small-biz...,"In the last six months, employees at Razorpay ...",https://economictimes.indiatimes.com/small-biz...
277,310,741541805,20180324,2018,http://www.en.netralnews.com/news/currentnews/...,"🔊 Listen to this\r\n\r\nJAKARTA, NNC - Despite...",http://www.en.netralnews.com/news/currentnews/...
334,377,725884838,20180127,2018,https://economictimes.indiatimes.com/jobs/ecom...,MUMBAI|BENGALURU: Campus hiring by ecommerce c...,https://economictimes.indiatimes.com/jobs/ecom...
355,1,785918381,20180910,2018,http://www.en.netralnews.com/news/business/rea...,"\r\n\r\nJAKARTA, NNC – The Ministry of...",http://www.en.netralnews.com/news/business/rea...
357,3,794276788,20181013,2018,https://economictimes.indiatimes.com/small-biz...,"NUSA DUA: Jack Ma, executive chairman of China...",https://economictimes.indiatimes.com/small-biz...
359,8,784607887,20180905,2018,https://english.vietnamnet.vn/fms/business/207...,Vietnam is making strong policy moves to bolst...,https://english.vietnamnet.vn/fms/business/207...
364,13,736669068,20180307,2018,https://www.prnewswire.com/news-releases/nucte...,"BEIJING, March 7, 2018 /PRNewswire/ -- From Fe...",https://www.prnewswire.com/news-releases/nucte...

In [39]:
data_incom1 = data_incom.drop([357], axis=0).copy()

In [48]:
data_incom1["ARTICLETITLE"] = pd.Series(article_content)
data_incom1.head()

,Unnamed: 0,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL,ARTICLETITLE
14,15,795321987,20181017,2018,https://www.coindesk.com/f2pool-founders-crypt...,"Cobo, a Beijing-based cryptocurrency wallet st...",NaN
79,82,786638486,20180913,2018,https://economictimes.indiatimes.com/small-biz...,BENGALURU: When hotel chain OYO decided to exp...,NaN
106,112,783214317,20180830,2018,http://www.en.netralnews.com/news/business/rea...,"🔊 Listen to this\r\n\r\nJAKARTA, NNC - Ministe...",NaN
132,141,777945188,20180808,2018,http://morungexpress.com/campaigners-and-k-pop...,Rina Chandran\r\n\r\nThomson Reuters Foundatio...,NaN
247,272,749145806,20180419,2018,https://economictimes.indiatimes.com/small-biz...,"In the last six months, employees at Razorpay ...",NaN

In [46]:
data_incom1 = data_incom1.drop("ARTICLETITLE", axis=1)

In [47]:
data_incom1

,Unnamed: 0,GLOBALEVENTID,SQLDATE,Year,SOURCEURL,ARTICLEURL
14,15,795321987,20181017,2018,https://www.coindesk.com/f2pool-founders-crypt...,"Cobo, a Beijing-based cryptocurrency wallet st..."
79,82,786638486,20180913,2018,https://economictimes.indiatimes.com/small-biz...,BENGALURU: When hotel chain OYO decided to exp...
106,112,783214317,20180830,2018,http://www.en.netralnews.com/news/business/rea...,"🔊 Listen to this\r\n\r\nJAKARTA, NNC - Ministe..."
132,141,777945188,20180808,2018,http://morungexpress.com/campaigners-and-k-pop...,Rina Chandran\r\n\r\nThomson Reuters Foundatio...
247,272,749145806,20180419,2018,https://economictimes.indiatimes.com/small-biz...,"In the last six months, employees at Razorpay ..."
277,310,741541805,20180324,2018,http://www.en.netralnews.com/news/currentnews/...,"🔊 Listen to this\r\n\r\nJAKARTA, NNC - Despite..."
334,377,725884838,20180127,2018,https://economictimes.indiatimes.com/jobs/ecom...,MUMBAI|BENGALURU: Campus hiring by ecommerce c...
355,1,785918381,20180910,2018,http://www.en.netralnews.com/news/business/rea...,"\r\n\r\nJAKARTA, NNC – The Ministry of..."
359,8,784607887,20180905,2018,https://english.vietnamnet.vn/fms/business/207...,Vietnam is making strong policy moves to bolst...
364,13,736669068,20180307,2018,https://www.prnewswire.com/news-releases/nucte...,"BEIJING, March 7, 2018 /PRNewswire/ -- From Fe..."

In [49]:
article_content

['F2Pool Founder’s Crypto Wallet Startup Raises $13 Million',
 "How Ritesh Agarwal's OYO scaled the great wall of China",
 'Minister of Communication and Information Aims Indonesia to Have 10 Unicorns by 2020',
 '',
 'Customer-connect a whole new ball game at startups',
 '15 Indonesia-Singapore Startups Join, Collaborate in Batam Nongsa Digital Park',
 'Ecommerce companies, startups lining up offers at B-schools',
 'Govt Partners with Two National Marketplaces to Boost Indonesian Exports',
 '',
 'Fintech primed to boost financial services sector in Vietnam',
 'Nuctech Participates at the 1st Global Cross-Border E-Commerce Conference']

In [54]:
ds_fix = pd.read_csv("20181122 data 2018.csv", sep = ";", encoding="utf-8")
ds_2018 = run("SELECT * FROM startup_indonesia WHERE year = 2018")

In [59]:
dsa = ds_fix.drop(["SQLDATE", "Year", "SOURCEURL"], axis = 1)

In [60]:
dsa.head()

,GLOBALEVENTID,ARTICLEURL,ARTICLETITLE
0,795321987,"Cobo, a Beijing-based cryptocurrency wallet st...",F2Pool Founder’s Crypto Wallet Startup Raises ...
1,786638486,BENGALURU: When hotel chain OYO decided to exp...,How Ritesh Agarwal's OYO scaled the great wall...
2,783214317,"ðŸ”Š Listen to this\r\n\r\n\r\n\r\nJAKARTA, NN...",Minister of Communication and Information Aims...
3,777945188,Rina Chandran\r\n\r\n\r\n\r\nThomson Reuters F...,Campaigners and K-pop fans turn to crowdfundin...
4,749145806,"In the last six months, employees at Razorpay ...",Customer-connect a whole new ball game at star...

In [62]:
result = pd.merge(dsa,
                 ds_2018,
                 on="GLOBALEVENTID")
result.head()

,GLOBALEVENTID,ARTICLEURL,ARTICLETITLE,index,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,...,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,795321987,"Cobo, a Beijing-based cryptocurrency wallet st...",F2Pool Founder’s Crypto Wallet Startup Raises ...,38,20181017,201810,2018,2018.7863,BUS,COMPANY,...,ID,1,Indonesia,ID,ID,-5.00000,120.000,ID,20181017.0,https://www.coindesk.com/f2pool-founders-crypt...
1,786638486,BENGALURU: When hotel chain OYO decided to exp...,How Ritesh Agarwal's OYO scaled the great wall...,245,20180913,201809,2018,2018.6932,CHN,CHINA,...,MY,1,Indonesia,ID,ID,-5.00000,120.000,ID,20180913.0,https://economictimes.indiatimes.com/small-biz...
2,783214317,"ðŸ”Š Listen to this\r\n\r\n\r\n\r\nJAKARTA, NN...",Minister of Communication and Information Aims...,312,20180830,201808,2018,2018.6575,IDNBUS,INDONESIA,...,None,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.829,-2679652,20180830.0,http://www.en.netralnews.com/news/business/rea...
3,777945188,Rina Chandran\r\n\r\n\r\n\r\nThomson Reuters F...,Campaigners and K-pop fans turn to crowdfundin...,385,20180808,201808,2018,2018.5973,GOV,GOVERNMENT,...,ID,1,Indonesia,ID,ID,-5.00000,120.000,ID,20180808.0,http://morungexpress.com/campaigners-and-k-pop...
4,749145806,"In the last six months, employees at Razorpay ...",Customer-connect a whole new ball game at star...,708,20180419,201804,2018,2018.2986,IDN,INDONESIA,...,IN,1,Indonesia,ID,ID,-5.00000,120.000,ID,20180419.0,https://economictimes.indiatimes.com/small-biz...

In [64]:
result.to_csv("20181122 data berita startup 2018.csv", sep = ";")