In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("metro-bike-share-trip-data.csv")
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
0,1912818,180,2016-07-07T04:17:00,2016-07-07T04:20:00,3014.0,34.056610,-118.23721,3014.0,34.056610,-118.23721,6281.0,30.0,Round Trip,Monthly Pass,"{'longitude': '-118.23721', 'latitude': '34.05...","{'longitude': '-118.23721', 'latitude': '34.05..."
1,1919661,1980,2016-07-07T06:00:00,2016-07-07T06:33:00,3014.0,34.056610,-118.23721,3014.0,34.056610,-118.23721,6281.0,30.0,Round Trip,Monthly Pass,"{'longitude': '-118.23721', 'latitude': '34.05...","{'longitude': '-118.23721', 'latitude': '34.05..."
2,1933383,300,2016-07-07T10:32:00,2016-07-07T10:37:00,3016.0,34.052898,-118.24156,3016.0,34.052898,-118.24156,5861.0,365.0,Round Trip,Flex Pass,"{'longitude': '-118.24156', 'latitude': '34.05...","{'longitude': '-118.24156', 'latitude': '34.05..."
3,1944197,10860,2016-07-07T10:37:00,2016-07-07T13:38:00,3016.0,34.052898,-118.24156,3016.0,34.052898,-118.24156,5861.0,365.0,Round Trip,Flex Pass,"{'longitude': '-118.24156', 'latitude': '34.05...","{'longitude': '-118.24156', 'latitude': '34.05..."
4,1940317,420,2016-07-07T12:51:00,2016-07-07T12:58:00,3032.0,34.049889,-118.25588,3032.0,34.049889,-118.25588,6674.0,0.0,Round Trip,Walk-up,"{'longitude': '-118.25588', 'latitude': '34.04...","{'longitude': '-118.25588', 'latitude': '34.04..."

In [14]:
df.loc[df["Passholder Type"] == "Staff Annual"]

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
55790,8443856,360,2016-10-01T16:38:00,2016-10-01T16:44:00,3010.0,34.037048,-118.254868,3080.0,34.034210,-118.254593,5718.0,NaN,One Way,Staff Annual,"{'longitude': '-118.254868', 'latitude': '34.0...","{'longitude': '-118.254593', 'latitude': '34.0..."
55883,8453843,840,2016-10-01T18:24:00,2016-10-01T18:38:00,3019.0,34.038609,-118.260857,3038.0,34.046822,-118.248352,6579.0,NaN,One Way,Staff Annual,"{'longitude': '-118.260857', 'latitude': '34.0...","{'longitude': '-118.248352', 'latitude': '34.0..."
56613,8640407,2820,2016-10-03T08:35:00,2016-10-03T09:22:00,3062.0,34.047749,-118.243172,NaN,NaN,NaN,5908.0,NaN,One Way,Staff Annual,"{'longitude': '-118.243172', 'latitude': '34.0...",NaN
56854,8674462,420,2016-10-03T16:05:00,2016-10-03T16:12:00,3040.0,34.053570,-118.266357,3035.0,34.048401,-118.260948,6664.0,NaN,One Way,Staff Annual,"{'longitude': '-118.266357', 'latitude': '34.0...","{'longitude': '-118.260948', 'latitude': '34.0..."
57202,8747945,60,2016-10-04T07:30:00,2016-10-04T07:31:00,3069.0,34.050880,-118.248253,3069.0,34.050880,-118.248253,5776.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.248253', 'latitude': '34.0...","{'longitude': '-118.248253', 'latitude': '34.0..."
57226,8747928,60,2016-10-04T07:59:00,2016-10-04T08:00:00,3028.0,34.058319,-118.246094,3028.0,34.058319,-118.246094,6574.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.246094', 'latitude': '34.0...","{'longitude': '-118.246094', 'latitude': '34.0..."
57240,8752638,600,2016-10-04T08:21:00,2016-10-04T08:31:00,3042.0,34.049301,-118.238808,3063.0,34.049198,-118.252831,6006.0,NaN,One Way,Staff Annual,"{'longitude': '-118.238808', 'latitude': '34.0...","{'longitude': '-118.252831', 'latitude': '34.0..."
57256,8772191,12540,2016-10-04T08:37:00,2016-10-04T12:06:00,3062.0,34.047749,-118.243172,NaN,NaN,NaN,6566.0,NaN,One Way,Staff Annual,"{'longitude': '-118.243172', 'latitude': '34.0...",NaN
57883,8872739,600,2016-10-05T08:36:00,2016-10-05T08:46:00,3042.0,34.049301,-118.238808,3063.0,34.049198,-118.252831,6216.0,NaN,One Way,Staff Annual,"{'longitude': '-118.238808', 'latitude': '34.0...","{'longitude': '-118.252831', 'latitude': '34.0..."
57885,8877694,3180,2016-10-05T08:38:00,2016-10-05T09:31:00,3062.0,34.047749,-118.243172,NaN,NaN,NaN,6273.0,NaN,One Way,Staff Annual,"{'longitude': '-118.243172', 'latitude': '34.0...",NaN
57914,8877654,1140,2016-10-05T09:06:00,2016-10-05T09:25:00,3052.0,34.051102,-118.264557,3082.0,34.046520,-118.237411,6658.0,NaN,One Way,Staff Annual,"{'longitude': '-118.264557', 'latitude': '34.0...","{'longitude': '-118.237411', 'latitude': '34.0..."
57960,8882597,180,2016-10-05T10:22:00,2016-10-05T10:25:00,3082.0,34.046520,-118.237411,3082.0,34.046520,-118.237411,5722.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.237411', 'latitude': '34.0...","{'longitude': '-118.237411', 'latitude': '34.0..."
58543,8996011,600,2016-10-06T08:30:00,2016-10-06T08:40:00,3042.0,34.049301,-118.238808,3063.0,34.049198,-118.252831,6169.0,NaN,One Way,Staff Annual,"{'longitude': '-118.238808', 'latitude': '34.0...","{'longitude': '-118.252831', 'latitude': '34.0..."
58694,9016263,60,2016-10-06T12:32:00,2016-10-06T12:33:00,3024.0,34.057720,-118.248970,3024.0,34.057720,-118.248970,6130.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.24897', 'latitude': '34.05...","{'longitude': '-118.24897', 'latitude': '34.05..."
58934,9048500,240,2016-10-06T18:07:00,2016-10-06T18:11:00,3052.0,34.051102,-118.264557,3035.0,34.048401,-118.260948,5810.0,NaN,One Way,Staff Annual,"{'longitude': '-118.264557', 'latitude': '34.0...","{'longitude': '-118.260948', 'latitude': '34.0..."
59036,9059653,300,2016-10-06T20:27:00,2016-10-06T20:32:00,3052.0,34.051102,-118.264557,3064.0,34.046810,-118.256981,5881.0,NaN,One Way,Staff Annual,"{'longitude': '-118.264557', 'latitude': '34.0...","{'longitude': '-118.256981', 'latitude': '34.0..."
59084,9071021,60,2016-10-06T22:06:00,2016-10-06T22:07:00,3081.0,34.031891,-118.250183,3081.0,34.031891,-118.250183,6118.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.250183', 'latitude': '34.0...","{'longitude': '-118.250183', 'latitude': '34.0..."
59212,9120577,600,2016-10-07T08:44:00,2016-10-07T08:54:00,3042.0,34.049301,-118.238808,3063.0,34.049198,-118.252831,6685.0,NaN,One Way,Staff Annual,"{'longitude': '-118.238808', 'latitude': '34.0...","{'longitude': '-118.252831', 'latitude': '34.0..."
59969,9262038,2280,2016-10-08T11:10:00,2016-10-08T11:48:00,3064.0,34.046810,-118.256981,3048.0,34.041691,-118.235352,6492.0,NaN,One Way,Staff Annual,"{'longitude': '-118.256981', 'latitude': '34.0...","{'longitude': '-118.235352', 'latitude': '34.0..."
60485,9378284,60,2016-10-09T09:40:00,2016-10-09T09:41:00,NaN,NaN,NaN,NaN,NaN,NaN,6437.0,NaN,One Way,Staff Annual,NaN,NaN
61034,9518184,13200,2016-10-10T08:54:00,2016-10-10T12:34:00,3062.0,34.047749,-118.243172,NaN,NaN,NaN,6547.0,NaN,One Way,Staff Annual,"{'longitude': '-118.243172', 'latitude': '34.0...",NaN
61067,9507862,360,2016-10-10T10:12:00,2016-10-10T10:18:00,3054.0,34.039219,-118.236488,3048.0,34.041691,-118.235352,5836.0,NaN,One Way,Staff Annual,"{'longitude': '-118.236488', 'latitude': '34.0...","{'longitude': '-118.235352', 'latitude': '34.0..."
61068,9507863,420,2016-10-10T10:12:00,2016-10-10T10:19:00,3054.0,34.039219,-118.236488,3048.0,34.041691,-118.235352,6188.0,NaN,One Way,Staff Annual,"{'longitude': '-118.236488', 'latitude': '34.0...","{'longitude': '-118.235352', 'latitude': '34.0..."
61097,9512909,180,2016-10-10T11:35:00,2016-10-10T11:38:00,3048.0,34.041691,-118.235352,3036.0,34.039188,-118.232529,5836.0,NaN,One Way,Staff Annual,"{'longitude': '-118.235352', 'latitude': '34.0...","{'longitude': '-118.232529', 'latitude': '34.0..."
61129,9533816,10980,2016-10-10T12:18:00,2016-10-10T15:21:00,3036.0,34.039188,-118.232529,3000.0,NaN,NaN,6604.0,NaN,One Way,Staff Annual,"{'longitude': '-118.232529', 'latitude': '34.0...",NaN
61130,9533817,11040,2016-10-10T12:18:00,2016-10-10T15:22:00,3036.0,34.039188,-118.232529,3000.0,NaN,NaN,6645.0,NaN,One Way,Staff Annual,"{'longitude': '-118.232529', 'latitude': '34.0...",NaN
61447,9560669,600,2016-10-10T20:36:00,2016-10-10T20:46:00,3067.0,34.045181,-118.250237,3062.0,34.047749,-118.243172,5922.0,NaN,One Way,Staff Annual,"{'longitude': '-118.250237', 'latitude': '34.0...","{'longitude': '-118.243172', 'latitude': '34.0..."
61543,9615105,420,2016-10-11T07:51:00,2016-10-11T07:58:00,3062.0,34.047749,-118.243172,3007.0,34.050480,-118.254593,5782.0,NaN,One Way,Staff Annual,"{'longitude': '-118.243172', 'latitude': '34.0...","{'longitude': '-118.254593', 'latitude': '34.0..."
61865,9665067,720,2016-10-11T17:35:00,2016-10-11T17:47:00,3052.0,34.051102,-118.264557,3062.0,34.047749,-118.243172,5899.0,NaN,One Way,Staff Annual,"{'longitude': '-118.264557', 'latitude': '34.0...","{'longitude': '-118.243172', 'latitude': '34.0..."
62075,9747420,11940,2016-10-12T07:27:00,2016-10-12T10:46:00,3058.0,34.035801,-118.233170,NaN,NaN,NaN,6686.0,NaN,One Way,Staff Annual,"{'longitude': '-118.23317', 'latitude': '34.03...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97345,16830366,840,2016-12-27T16:58:00,2016-12-27T17:12:00,3063.0,34.049198,-118.252831,3082.0,34.046520,-118.237411,6554.0,NaN,One Way,Staff Annual,"{'longitude': '-118.252831', 'latitude': '34.0...","{'longitude': '-118.237411', 'latitude': '34.0..."
97361,16830350,600,2016-12-27T17:22:00,2016-12-27T17:32:00,3005.0,34.048550,-118.259048,3005.0,34.048550,-118.259048,6146.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.259048', 'latitude': '34.0...","{'longitude': '-118.259048', 'latitude': '34.0..."
97375,16830332,540,2016-12-27T17:42:00,2016-12-27T17:51:00,3033.0,34.040989,-118.255798,3033.0,34.040989,-118.255798,5936.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.255798', 'latitude': '34.0...","{'longitude': '-118.255798', 'latitude': '34.0..."
97394,16832582,900,2016-12-27T18:08:00,2016-12-27T18:23:00,3027.0,34.049980,-118.247162,3027.0,34.049980,-118.247162,6677.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.247162', 'latitude': '34.0...","{'longitude': '-118.247162', 'latitude': '34.0..."
97498,16859605,240,2016-12-28T07:19:00,2016-12-28T07:23:00,3052.0,34.051102,-118.264557,3035.0,34.048401,-118.260948,6219.0,NaN,One Way,Staff Annual,"{'longitude': '-118.264557', 'latitude': '34.0...","{'longitude': '-118.260948', 'latitude': '34.0..."
97508,16863591,5520,2016-12-28T07:46:00,2016-12-28T09:18:00,3035.0,34.048401,-118.260948,4108.0,34.025890,-118.238243,6651.0,NaN,One Way,Staff Annual,"{'longitude': '-118.260948', 'latitude': '34.0...","{'longitude': '-118.238243', 'latitude': '34.0..."
97512,16859593,60,2016-12-28T07:58:00,2016-12-28T07:59:00,3024.0,34.057720,-118.248970,3024.0,34.057720,-118.248970,6353.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.24897', 'latitude': '34.05...","{'longitude': '-118.24897', 'latitude': '34.05..."
97579,16867617,420,2016-12-28T11:02:00,2016-12-28T11:09:00,3014.0,34.056610,-118.237213,3030.0,34.051941,-118.243530,6674.0,NaN,One Way,Staff Annual,"{'longitude': '-118.237213', 'latitude': '34.0...","{'longitude': '-118.24353', 'latitude': '34.05..."
97648,16871815,1200,2016-12-28T13:02:00,2016-12-28T13:22:00,NaN,NaN,NaN,NaN,NaN,NaN,6658.0,NaN,One Way,Staff Annual,NaN,NaN
97719,16883024,11100,2016-12-28T15:27:00,2016-12-28T18:32:00,3016.0,34.052898,-118.241562,NaN,NaN,NaN,6207.0,NaN,One Way,Staff Annual,"{'longitude': '-118.241562', 'latitude': '34.0...",NaN
97732,16878396,660,2016-12-28T16:07:00,2016-12-28T16:18:00,3057.0,34.035679,-118.270813,3057.0,34.035679,-118.270813,6238.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.270813', 'latitude': '34.0...","{'longitude': '-118.270813', 'latitude': '34.0..."
97744,16878380,540,2016-12-28T16:35:00,2016-12-28T16:44:00,3036.0,34.039188,-118.232529,3036.0,34.039188,-118.232529,6557.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.232529', 'latitude': '34.0...","{'longitude': '-118.232529', 'latitude': '34.0..."
97883,16911036,300,2016-12-29T07:05:00,2016-12-29T07:10:00,3052.0,34.051102,-118.264557,3064.0,34.046810,-118.256981,5984.0,NaN,One Way,Staff Annual,"{'longitude': '-118.264557', 'latitude': '34.0...","{'longitude': '-118.256981', 'latitude': '34.0..."
97885,16911034,1860,2016-12-29T07:23:00,2016-12-29T07:54:00,3064.0,34.046810,-118.256981,NaN,NaN,NaN,5784.0,NaN,One Way,Staff Annual,"{'longitude': '-118.256981', 'latitude': '34.0...",NaN
97949,16919471,300,2016-12-29T11:05:00,2016-12-29T11:10:00,3016.0,34.052898,-118.241562,3042.0,34.049301,-118.238808,6717.0,NaN,One Way,Staff Annual,"{'longitude': '-118.241562', 'latitude': '34.0...","{'longitude': '-118.238808', 'latitude': '34.0..."
97988,16921641,720,2016-12-29T12:32:00,2016-12-29T12:44:00,3006.0,34.045540,-118.256668,3030.0,34.051941,-118.243530,5754.0,NaN,One Way,Staff Annual,"{'longitude': '-118.256668', 'latitude': '34.0...","{'longitude': '-118.24353', 'latitude': '34.05..."
98044,16938072,19380,2016-12-29T14:03:00,2016-12-29T19:26:00,3042.0,34.049301,-118.238808,NaN,NaN,NaN,6650.0,NaN,One Way,Staff Annual,"{'longitude': '-118.238808', 'latitude': '34.0...",NaN
98124,16933092,1260,2016-12-29T17:02:00,2016-12-29T17:23:00,4108.0,34.025890,-118.238243,3052.0,34.051102,-118.264557,6658.0,NaN,One Way,Staff Annual,"{'longitude': '-118.238243', 'latitude': '34.0...","{'longitude': '-118.264557', 'latitude': '34.0..."
98183,16937904,600,2016-12-29T19:36:00,2016-12-29T19:46:00,3019.0,34.038609,-118.260857,3019.0,34.038609,-118.260857,6470.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.260857', 'latitude': '34.0...","{'longitude': '-118.260857', 'latitude': '34.0..."
98200,16940343,660,2016-12-29T20:24:00,2016-12-29T20:35:00,3068.0,34.053200,-118.250954,3068.0,34.053200,-118.250954,6303.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.250954', 'latitude': '34.0...","{'longitude': '-118.250954', 'latitude': '34.0..."
98271,16973813,60,2016-12-30T11:53:00,2016-12-30T11:54:00,3038.0,34.046822,-118.248352,3038.0,34.046822,-118.248352,6664.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.248352', 'latitude': '34.0...","{'longitude': '-118.248352', 'latitude': '34.0..."
98311,16980559,720,2016-12-30T14:02:00,2016-12-30T14:14:00,3038.0,34.046822,-118.248352,3064.0,34.046810,-118.256981,6687.0,NaN,One Way,Staff Annual,"{'longitude': '-118.248352', 'latitude': '34.0...","{'longitude': '-118.256981', 'latitude': '34.0..."
98312,16980558,1440,2016-12-30T14:02:00,2016-12-30T14:26:00,3038.0,34.046822,-118.248352,3064.0,34.046810,-118.256981,6290.0,NaN,One Way,Staff Annual,"{'longitude': '-118.248352', 'latitude': '34.0...","{'longitude': '-118.256981', 'latitude': '34.0..."
98329,16989991,11880,2016-12-30T14:44:00,2016-12-30T18:02:00,3064.0,34.046810,-118.256981,3042.0,34.049301,-118.238808,5886.0,NaN,One Way,Staff Annual,"{'longitude': '-118.256981', 'latitude': '34.0...","{'longitude': '-118.238808', 'latitude': '34.0..."
98360,16982827,60,2016-12-30T15:53:00,2016-12-30T15:54:00,3064.0,34.046810,-118.256981,3064.0,34.046810,-118.256981,6367.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.256981', 'latitude': '34.0...","{'longitude': '-118.256981', 'latitude': '34.0..."
98361,16982826,60,2016-12-30T15:59:00,2016-12-30T16:00:00,3064.0,34.046810,-118.256981,3064.0,34.046810,-118.256981,5791.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.256981', 'latitude': '34.0...","{'longitude': '-118.256981', 'latitude': '34.0..."
98363,16985174,60,2016-12-30T16:00:00,2016-12-30T16:01:00,3064.0,34.046810,-118.256981,3064.0,34.046810,-118.256981,5957.0,NaN,Round Trip,Staff Annual,"{'longitude': '-118.256981', 'latitude': '34.0...","{'longitude': '-118.256981', 'latitude': '34.0..."
98407,16987511,1320,2016-12-30T17:15:00,2016-12-30T17:37:00,3064.0,34.046810,-118.256981,NaN,NaN,NaN,5791.0,NaN,One Way,Staff Annual,"{'longitude': '-118.256981', 'latitude': '34.0...",NaN
98408,16987510,1380,2016-12-30T17:20:00,2016-12-30T17:43:00,3037.0,34.034801,-118.231277,3000.0,NaN,NaN,6254.0,NaN,One Way,Staff Annual,"{'longitude': '-118.231277', 'latitude': '34.0...",NaN
98605,17049750,1380,2016-12-31T19:44:00,2016-12-31T20:07:00,3069.0,34.050880,-118.248253,3046.0,34.053020,-118.247948,6384.0,NaN,One Way,Staff Annual,"{'longitude': '-118.248253', 'latitude': '34.0...","{'longitude': '-118.247948', 'latitude': '34.0..."

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132427 entries, 0 to 132426
Data columns (total 16 columns):
Trip ID                       132427 non-null int64
Duration                      132427 non-null int64
Start Time                    132427 non-null object
End Time                      132427 non-null object
Starting Station ID           132408 non-null float64
Starting Station Latitude     132379 non-null float64
Starting Station Longitude    132379 non-null float64
Ending Station ID             132331 non-null float64
Ending Station Latitude       131376 non-null float64
Ending Station Longitude      131376 non-null float64
Bike ID                       132417 non-null float64
Plan Duration                 131661 non-null float64
Trip Route Category           132427 non-null object
Passholder Type               132427 non-null object
Starting Lat-Long             98622 non-null object
Ending Lat-Long               131376 non-null object
dtypes: float64(8), int64(2), object(6)
memory usage: 16.2+ MB

In [3]:
# Stratified Sampling function
def stratified_sampling(df, var, n_samples):
    data = df.groupby(var, group_keys=False).apply(lambda x: x.sample(min(len(x), n_samples)))
    return data

In [15]:
print(df.groupby('Passholder Type')['Trip ID'].nunique())

# Clear null data
df = df.dropna()

# See distribution of passenger type
print(df.groupby('Passholder Type')['Trip ID'].nunique())

Passholder Type
Flex Pass        9517
Monthly Pass    81304
Staff Annual      382
Walk-up         41224
Name: Trip ID, dtype: int64
Passholder Type
Flex Pass        7200
Monthly Pass    60093
Walk-up         30532
Name: Trip ID, dtype: int64

Seems that Staff Annual contains null value. What is it?

In [4]:
# Because lowest variable comes from Staff Annual, we set the sampling by 300
# Sampling by passenger type
df_pass = stratified_sampling(df, 'Passholder Type', 300)
df_pass.head()

Passholder Type
Flex Pass        9517
Monthly Pass    81304
Staff Annual      382
Walk-up         41224
Name: Trip ID, dtype: int64

,Trip ID,Duration,Start Time,End Time,Starting Station ID,Starting Station Latitude,Starting Station Longitude,Ending Station ID,Ending Station Latitude,Ending Station Longitude,Bike ID,Plan Duration,Trip Route Category,Passholder Type,Starting Lat-Long,Ending Lat-Long
126592,22575777,720,2017-03-19T11:28:00,2017-03-19T11:40:00,3066.0,34.063389,-118.23616,3054.0,34.039219,-118.236488,5905.0,365.0,One Way,Flex Pass,NaN,"{'longitude': '-118.236488', 'latitude': '34.0..."
63558,9992082,420,2016-10-14T14:32:00,2016-10-14T14:39:00,3030.0,34.051941,-118.24353,3014.0,34.056610,-118.237213,6545.0,365.0,One Way,Flex Pass,"{'longitude': '-118.24353', 'latitude': '34.05...","{'longitude': '-118.237213', 'latitude': '34.0..."
3459,3114692,360,2016-07-15T12:22:00,2016-07-15T12:28:00,3030.0,34.051941,-118.24353,3049.0,34.056969,-118.253590,6277.0,365.0,One Way,Flex Pass,"{'longitude': '-118.24353', 'latitude': '34.05...","{'longitude': '-118.25359', 'latitude': '34.05..."
715,2152809,1920,2016-07-09T15:00:00,2016-07-09T15:32:00,3054.0,34.039219,-118.23649,3052.0,34.051102,-118.264560,6193.0,365.0,One Way,Flex Pass,"{'longitude': '-118.23649', 'latitude': '34.03...","{'longitude': '-118.26456', 'latitude': '34.05..."
10418,4727039,600,2016-07-30T09:21:00,2016-07-30T09:31:00,3022.0,34.046070,-118.23309,3069.0,34.050880,-118.248250,6192.0,365.0,One Way,Flex Pass,"{'longitude': '-118.23309', 'latitude': '34.04...","{'longitude': '-118.24825', 'latitude': '34.05..."

In [ ]:
# Count distance by kilometres
lon1, lat1, lon2, lat2 = map(np.radians, [df['Starting Station Longitude'], df['Starting Station Latitude'],df['Ending Station Longitude'], df['Ending Station Latitude']])
dlat = lat2 - lat1 
dlon = lon2 - lon1
a = (np.sin(dlat/2))**2 +np.cos(lat1) * np.cos(lat2) * (np.sin(dlon/2))**2 
c = 2 * np.arcsin( np.sqrt(a)) 
d = 6373  * c 
df_pass['distance in km']=d
df_pass['distance in km'].hist(bins=100,range=(0,5))

# Describe by group